*{
    text-decoration: none;
}
body{
    background-color: beige;
}
.backdiv{
    background-color:bisque;
    border-radius: 13px;
}
.text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    font-family: 'Protest Revolution', sans-serif;
    margin-right: 19px;

}

a{
    color: rgb(141, 141, 141) ;
}

.start{
    text-align: center;
    font-size: 35px;
    margin-top: 10px;;
    color: rgb(255, 255, 255);
    background-color: burlywood;
    border-radius: 15px;
}
.choose{
    display:flex ;
    border-radius: 15px;
    background-color: antiquewhite;
    border: 1px;
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.2);
    
}
.card-conteiner{
    display:flex;
    justify-content:center ;
    float: left;
    flex-wrap: nowrap;
    margin-top: 100px;
    padding-left:25px;
  }
  .card{
    width: 325px;
    background-color: #f2f2f2;
    border-radius: 8px;
    overflow: hidden;
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;

  }
  .card img{
    width: 100%;
    height: auto;
  }
  .card-content{
    padding: 16px;
  }
  .card-content h3{
    font-size: 30px;
    margin-bottom: 10px;
  }